/*Dropdown 1*/
.bck-dropdown.bck-dropdown-1 {
	background-color: #c82918;
    border: none;
}

.bck-dropdown-1 .bck-dropdown-icon {
	background-color: #c82918;
}

.bck-dropdown-1 .bck-dropdown-titulo {
    font-size: 1.8rem;
    padding-left: 0px;
    margin-top: -6px;
}

.bck-dropdown-1 .bck-dropdown-content {
    background-color: #fff;
    border: 2px solid #c82918;
}

/*Dropdown 2*/
.bck-dropdown-2 .bck-dropdown-button {
    margin-top: 0px;
    background: #efdada;
    color: #414141;
    text-align: left;
    border: none;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.bck-dropdown-2 .bck-dropdown-icon {
    display: inline-block;
    width: 25px;
    height: 10px;
}

.bck-dropdown .bck-dropdown-icon, 
.bck-dropdown-2 .bck-dropdown-icon {
    color: white;
}

.bck-dropdown-2 .bck-dropdown-icon > .fa {
    border: 0px solid white;
}



.bck-dropdown-2 .fa-chevron-up:before, 
.bck-dropdown-2 .fa-chevron-down:before {
    font-size: 1.8rem;
    color: #000;
}

.bck-dropdown-2 .fa-chevron-down:before {
    content: "\f078";
}

.bck-dropdown-2 .fa-chevron-up:before {
    content: "\f077";
}

.bck-dropdown-2 .bck-dropdown-titulo:before {
	display: none;
}

.bck-dropdown-icon>.fa{
	text-align: right;
}
